<?xml version="1.0" encoding="UTF-8"?>
<!--
    ${project.baseName}
    settings for LOGBack
    see https://logback.qos.ch/documentation.html
-->
<configuration scan="true" scanPeriod="60 seconds">

    <!-- write to application log file -->
    <appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${openestate.server.logDir}/${openestate.server.app}.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d %5p %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${openestate.server.logDir}/${openestate.server.app}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- write to console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %5p %m%n</pattern>
        </encoder>
    </appender>

    <!-- write nothing -->
    <appender name="null" class="ch.qos.logback.core.helpers.NOPAppender"/>

    <!-- logging for org.openestate -->
    <logger name="org.openestate" level="ALL">
        <appender-ref ref="application"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- other logging -->
    <root level="ALL">
        <appender-ref ref="null"/>
    </root>

</configuration>
