[Unit]
Description=Server for OpenEstate-ImmoTool
After=network-online.target

[Service]
ExecStart=${ExecStart}
WorkingDirectory=${WorkingDirectory}
User=${User}
Group=${Group}
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
