Package: openestate-immoserver
Version: ${PackageVersion}
Architecture: amd64
Maintainer: OpenEstate.org <info@openestate.org>
Installed-Size: ${InstalledSize}
Depends: systemd, bash
Section: misc
Priority: optional
Homepage: https://openestate.org/
Description: OpenEstate-ImmoServer provides a HSQLDB server,
 that may be used for multi user installations of OpenEstate-ImmoTool.
