<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleIdentifier</key>
    <string>org.openestate.tool.server.start</string>

    <key>CFBundleName</key>
    <string>${project.baseName}</string>

    <key>CFBundleDisplayName</key>
    <string>Start ${project.baseName}</string>

    <key>CFBundleVersion</key>
    <string>${project.buildVersion}</string>

    <key>CFBundleShortVersionString</key>
    <string>${project.buildVersion}</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleExecutable</key>
    <string>Start.sh</string>

    <key>CFBundleIconFile</key>
    <string>share/icons/ImmoServer.icns</string>

    <key>LSApplicationCategoryType</key>
    <string>public.app-category.business</string>

    <key>NSHumanReadableCopyright</key>
    <string>(C) 2009-2022 OpenEstate.org</string>

    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>