<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleIdentifier</key>
    <string>org.openstate.tool.server.manager</string>

    <key>CFBundleName</key>
    <string>HSQLDB-Manager</string>

    <key>CFBundleDisplayName</key>
    <string>HSQLDB-Manager</string>

    <key>CFBundleVersion</key>
    <string>1.0.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleExecutable</key>
    <string>ManagerTool.sh</string>

    <key>CFBundleIconFile</key>
    <string>ImmoServer-GUI.icns</string>

    <key>LSApplicationCategoryType</key>
    <string>public.app-category.business</string>

    <key>LSUIElement</key>
    <true/>

    <key>NSHumanReadableCopyright</key>
    <string>©2009-2019 OpenEstate.org</string>

    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
